* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #1d1a1a;
}

.html {
  max-width: 600px;
  margin: 20px auto;
  background: #00000052;
  padding: 20px;
  border-radius: 10px;
}

h1,
p {
  color: #fff;
  text-align: center;
  margin: 20px 0;
}

.selector ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.selector ul li {
  margin: 0 10px;
}

.selector ul li img {
  width: 50px;
  height: 50px;
  border-radius: 5%;
  cursor: pointer;
}

.display {
  max-width: 600px;
  background: #ffffff54;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
}

.display ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.display ul li {
  margin: 15px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}